.container {
  margin: 0 auto;
  max-width:1000px;
  padding: 40px;
}

.title {
  font-size: 4.5rem;
  text-align: center
}

ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
  font-size: 1.6rem;
}
ul.header {
  background-color: rgba(0, 0, 0, 0.65);
  padding: 0;
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.active {
  background-color: rgba(0, 0, 0, 0.85);
}

.content {
  background-color: #FFF;
  padding: 20px;
}

.subtitle {
  font-size: 3rem;
  margin: 0;
  padding: 0 0 15px 0;
}

.text{
  font-size: 1.6rem;
}

.table { 
  border-spacing: 0px;
  width: 100%;
}

.table tr td, table tr th {
  font-size: 1.6rem; 
  border: 1px solid;
  border-spacing: 0px;
}

.table th, .table td {
  padding: 5px;
}

.table th{
  font-size: 2rem;
}

label {
  font-size: 1.6rem;
}

label.strong {
  font-weight: bold;
}

input {
  font-size: 1.6rem;
  padding: 0.5rem;
  line-height: 2.8rem;
  border: 1px solid #ddd;
}

input.fullSize{
  width: 100%;
}

button {
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.75);
  border-radius: 8px;
  font-size: 1.6rem;
  cursor: pointer;
  transition: background-color 250ms;
}

button.action {
  padding: 1rem 2rem;
  margin: 1rem 1rem 1rem 0;
  border-radius: 18px;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.85); 
}

.error-message {
  background-color: #ff7272;
  color: white;
  padding: 1em;
  font-size: 1.6rem;
}

p{
  font-size: 1.2rem;
}

div.row{
  padding: 0.7rem 0;
}

div.small {
  margin: 0 10%;
  padding: 10px;
  border: 1px solid;
}